{
  "plugins": [
    "babel-plugin-transform-class-properties",
    "shebang",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "babel-plugin-transform-runtime"
  ],
  "presets": [
    "babel-preset-env"
  ]
}